<div class="ui right aligned inverted five cards">
  <div class=" card">
    <div class="ui inverted segment">
      <i class="right floated huge violet map marker alternate icon"></i>
      <h2>
        {{name}}
      </h2>
      <p>
        Lat: {{latitude}}
        <br>
        Lng: {{longitude}}
      </p>
      <p>
        Insert Station Reading
      </p>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge orange sun icon"></i>
      <h2>
        Weather
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge blue temperature low icon"></i>
      <h2>
        Temp
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge green wind icon"></i>
      <h2>
        Wind
      </h2>
      <p>
        <i class="right floated big green ${station.getTrendAnalysis('windSpeed')}"></i>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge orange stroopwafel icon"></i>
      <h2>
        Pressure
      </h2>
    </div>
  </div>
</div>
