<div class="ui right aligned inverted five cards">
  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge violet map marker alternate icon"></i>
      <h2>
        {{name}}
      </h2>
      <p>
        Lat:
        <p2 class="FormatMe">{{latitude}}</p2>
        <br />
        Lng:
        <p2 class="FormatMe">{{longitude}}</p2>
      </p>
      <p>
        Insert Station Readings
      </p>
    </div>
  </div>

  <div class="ui card">
    <div class="ui center aligned fluid inverted segment">
      <i class="huge center red cloud icon"></i>
      <h2>
        Weather
      </h2>
    </div>
  </div>

  <div class="ui card">
    <div class="ui center aligned fluid inverted segment">
      <i class="huge center blue thermometer icon"></i>
      <h2>
        Temp
      </h2>
    </div>
  </div>

  <div class="ui card">
    <div class="ui center aligned fluid inverted segment">
      <i class="huge center green wind icon"></i>

    </div>
  </div>

  <div class="ui card">
    <div class="ui center aligned fluid inverted segment">
      <i class="huge center orange stroopwafel icon"></i>
    </div>
  </div>
</div>