<div class="ui right aligned inverted five cards">
  <div class=" card">
    <div class="ui inverted segment">
      <i class="right floated huge violet map marker alternate icon"></i>
      <h2 id="stationName">
        {{name}}
      </h2>
      <p>
        Lat: <p2 class="FormatMe">{{latitude}}</p2> 
        <br>
        Lng: <p2 class="FormatMe">{{longitude}}</p2>
      </p>
      <br>
        <a href="/dashboard/{{id}}/addAutoReading">
          <button class="ui small blue button">Auto Generate Reading</button>
        </a>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge orange sun icon"></i>
      <h2>
        Weather
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge blue temperature low icon"></i>
      <h2>
        Temp
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge green wind icon"></i>
      <h2>
        Wind
      </h2>
      <p>
        <i class="right floated big green ${station.getTrendAnalysis('windSpeed')}"></i>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <i class="right floated huge orange stroopwafel icon"></i>
      <h2>
        Pressure
      </h2>
    </div>
  </div>
</div>

<script>
  formatLatLong()
</script>

  
