{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
    <div class="ui two column grid segment">
        <div class="left aligned column">
            <h2>
                WeatherTop
            </h2>
            <p>
                Welcome to WeatherTop. Here we use state of the art weather instruments to meausure the readings that
                you provide. Some of the instruments we use include:
            </p>
            <ul>
                <li>Anemometer</li>
                <li>Thermometer</li>
                <li>Compass</li>
            </ul>
            <p>
                Check out some of the instruments that we use to measure your readings below. Our diligent weather
                analysts will ensure that that you will always get the most accurate weather metric conversion possible
            </p>
        </div>
        <div class="column">
            <img class="ui fluid rounded image" src="images/1_iSG4hcxJp7umCEFOVRTXAA.png">
        </div>
    </div>

    <div class="ui two column grid segment">
        <div class="left aligned column">
            <h2>
                Anemometer
            </h2>
            <p>
                An anemometer is a device that measures wind speed and direction. It is a common weather station
                instrument. The term is derived from the Greek word anemos (wind), and is used to describe any
                wind-speed instrument used in meteorology.
                The earliest known description of an anemometer was by Italian architect and author Leon Battista
                Alberti.

                The anemometer has changed little since its development in the 15th century. Alberti is said to have
                invented it around 1450.
            </p>

        </div>
        <div class="column">
            <img class="ui small centered rounded image" src="images/Wea00920.jpg">
        </div>
    </div>

    <div class="ui two column grid segment">
        <div class="middle aligned column">
            <img class="ui medium aligned middle fluid rounded image" src="images/compass_731613289_1000.jpg">
        </div>
        <div class="left aligned column">
            <h2>
                Compass
            </h2>
            <p>
                A compass is a device that shows the cardinal directions used for navigation and geographic orientation.
                It commonly consists of a magnetized needle or other element, such as a compass card or compass rose,
                which can pivot to align itself with magnetic north.
            </p>
            <p>
                Compasses often show angles in degrees: north corresponds to 0째, and the angles increase clockwise, so
                east is 90째, south is 180째, and west is 270째.
            </p>
            <p>
                Among the Four Great Inventions, the magnetic compass was first invented as a device for divination as
                early as the Chinese Han Dynasty (since c. 206 BC),and later adopted for navigation by the Song
                Dynasty Chinese during the 11th century.
            </p>
        </div>
    </div>

    <div class="ui two column grid segment">
        <div class="left aligned column">
            <h2>
                Thermometer
            </h2>
            <p>
                A thermometer is a device that measures temperature or a temperature gradient (the degree of hotness or
                coldness of an object). A thermometer has two important elements:

            <ol>
                <li>
                    A temperature sensor (e.g. the bulb of a mercury-in-glass thermometer or the pyrometric sensor
                    in an infrared thermometer) in which some change occurs with a change in temperature; and
                </li>
                <br>
                <li>
                    Some means of converting this change into a
                    numerical value (e.g. the visible scale that is marked on a mercury-in-glass thermometer or the
                    digital readout on an infrared model). Thermometers are widely used in technology and industry to
                    monitor processes, in meteorology, in medicine, and in scientific research.
                </li>
            </ol>
            </p>
        </div>

        <div class="column">
            <img class="ui medium centered rounded image"
                 src="images/01ef4a50-963e-4b3b-89bd-06d0fc542ae0.3868cfd8d20c075837c8addec7919701.jpeg">
        </div>
    </div>

</section>