{{> menu id="dashboard"}}



<section class="ui segment">       
    {{#each stations}}
        <section class="ui vertical segment">
            {{> latest-station-reading}}
        </section>

        {{! UI Buttons }}
        <section class="ui vertical segment">
        <a href="/station/{{id}}">
            <i class="bordered grey large link folder icon"></i>
        </a>

        <a href="/dashboard/deletestation/{{id}}">
            <i class="bordered grey large link trash icon"></i>
        </a>
        </section>
    {{/each}}
</section>
