{{> menu id="dashboard"}}

<section class="ui segment">  
    {{#each stations}}
        <section class="ui vertical segment">
            {{> latest-dashboard-readings weatherReports = ../weatherReports}}
        </section>

        {{! UI Buttons }}
        <section class="ui vertical segment">
        <a href="/station/{{id}}">
            <i class="bordered grey large link folder icon"></i>
        </a>
    {{/each}}
</section>
<section>
    {{!> add-station}}
</section>
