{{> welcome-menu }}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Weathertop
    </h1>
    <h4>
        Please Signup or Login using the menu above.
    </h4>
</section>

<div class="ui two column grid segment">
    <div class="column">
        <h2>
            Create Stations
        </h2>
        <p>
            Create your own stations to keep track of weather in areas that are of particular interest to you.
        </p>
    </div>
    <div class="stretched column">
        <img class="ui huge rounded image" src="/images/weathertopeg.JPG">
    </div>
</div>

<div class="ui two column grid segment">
    <div class="column">
        <h2>
            Add your own Readings
        </h2>
        <p>
            Add weather readings to your stations. Keep track of each stations readings over time.
        </p>
    </div>
    <div class="stretched column">
        <img class="ui huge rounded image" src="/images/weathertop2.JPG">
    </div>
</div>

<div class="ui two column grid segment">
    <div class="column">
        <h2>
            Detailed Analysis
        </h2>
        <p>
            Our dedicated weather analysts can perform detailed analysis on your readings to give you the weather
            metrics you need.
        </p>
    </div>
    <div class="stretched column">
        <img class="ui huge rounded image" src="/images/weathertop3.JPG">
    </div>
</div>