{{> menu}}

<section class="ui segment">
    <section class="ui vertical segment">
        {{#with station}}
            {{#if readings}}
                {{> latest-station-reading weatherReport = ../weatherReport}}
            {{else}}
                {{> empty-latest-reading-panel}}
            {{/if}}
        {{/with}}
    </section>
    <section id="chart"></section>

    <section class="ui vertical segment">
        {{#if station.readings}}
            {{> readings-table}}
        {{/if}}
    </section>

     <section class="ui vertical segment">
        {{> add-reading}}
    </section>



   <script>
      data = {
      labels: [
      {{#each trendLabels}}
          "{{this}}",
      {{/each}}
      ],
      datasets: [
        { 
          name: "Temperature", 
          type: "line",
          values: [{{tempTrendData}}] 
          }
        ]
      };
      new frappe.Chart("#chart", {
        title: "Temperature Trend",
        data: data,
        type: "line",
        height: 250
      });
   </script>
      
    
</section>



