{{> menu}}

<section class="ui segment">
    <section class="ui vertical segment">
        {{#with station}}
            {{#if readings}}
                {{> latest-station-reading weatherReport = ../weatherReport}}
            {{else}}
                {{> empty-latest-reading-panel}}
            {{/if}}
        {{/with}}
    </section>
    <section id="chart"></section>

    <section class="ui vertical segment">
        {{#if station.readings}}
            {{> readings-table}}
        {{/if}}
    </section>

     <section class="ui vertical segment">
        {{> add-reading}}
    </section>

   <script src="../scripts/charts.js" type="module">
     generateStationChart()
   </script>
      
    
</section>



