{{> menu}}

<section class="ui segment">
  <section class="ui vertical segment">
    {{#with station}}
      {{#if readings}}
        {{> latest-station-reading weatherReport = ../weatherReport}}
      {{else}}
        {{> empty-latest-reading-panel}}
      {{/if}}
      {{#if readings}}
        <section id="chart"></section>
          <div class="ui animated blue button" tabindex="0" id="changeTrendButton">
            <div class="visible content">
              Next Trend
            </div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>
      {{/if}}
    {{/with}}
  </section>

  <section class="ui vertical segment">
    {{#if station.readings}}
    {{> readings-table}}
    {{/if}}
  </section>

  <section class="ui vertical segment">
    {{> add-reading}}
  </section>

  <script>
    const readings = {{{ readings }}};
    const chartLookup = [
      { chart: "temperature", title: "Temperature" },
      { chart: "windSpeed", title: "Wind Speed" },
      { chart: "pressure", title: "Pressure" }
    ];

    var chartToRender = 0;
    chart.createChart(readings, chartLookup[chartToRender])

    //Change Chart with button press
    document.getElementById("changeTrendButton").onclick = function () { changeChart() };

    function changeChart() {
      if (chartToRender >= chartLookup.length - 1) {
        chartToRender = 0
      }
      else {
        chartToRender = chartToRender + 1
      }
      chart.createChart(readings, chartLookup[chartToRender])
      document.getElementById("changeTrendButton").blur();  //Remove Focus so animation still works if scroll off
    }
  </script>
</section>