{{> menu}}


<section class="ui segment">
    <section class="ui vertical segment">
        {{> latest-station-reading}}
    </section>

    <section class="ui vertical segment">
        {{> readings-table}}
    </section>
</section>